body {
    font-family: "Montserrat", Arial, sans-serif;
    background: linear-gradient(to right, #ECEFF1 50%, #fff 50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    margin: auto;
}
.logcontainer {
    width: 30%;
    margin: auto;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px grey;
    margin-bottom: 30px;

}

h1, h2 {
    color: #7B0323;
}

p {
    color: #333;
    line-height: 1.5;
}

form {
    margin-top: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select,
input[type="date"] {
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #7B0323;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #4B0011;
    text-decoration: underline;
}

a {
    font-family: "Montserrat", Arial, sans-serif;
    color: #7B0323;
    text-decoration: underline;
}






